.view {

}

.list-cell.header-cell {
    -fx-background-color: -primary-swatch-200;
}

.list-tile > .text-box > .primary-text {
    -fx-font-size: 0.9em;
}

.title {
    -fx-font-size: 1.2em;
    -fx-text-fill: -primary-swatch-700;
    -fx-border-color: -primary-swatch-700;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 10 20 10 20;
}

.icon.up > .label {
    -fx-text-fill: green;
}

.icon.down > .label {
    -fx-text-fill: red;
}