### Gradle
build/
.gradle/

### Maven
target/

### IntelliJ IDEA
.idea/
out/
*.iml

### Netbeans
.nb-gradle/

### macOS
.DS_Store

### Gluon
gluoncloudlink_config.json

### Package Files
//*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
google-services.json
