.root {
    -base-color: #4A696B;
}

.game-view {
    -fx-background-color: #A4CCC3;
}

.board {
    -fx-background-color: transparent;
}

.board-cell {
    -fx-background-radius: 10;
    -fx-border-color: -base-color;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-border-style: dashed;
}

.board-cell-selected {
    -fx-background-radius: 10;
    -fx-background-color: rgba(255,255,255,.3);
    -fx-border-color: -base-color;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-border-style: dashed;
}

.board-symbol {
    -fx-stroke: -base-color;
    -fx-stroke-width: 9;
    -fx-fill: transparent;
}